{
  "presets": [
    [
      "@babel/env",
      {
        "corejs": "3.19.1",// polyfills
        "useBuiltIns": "usage",// 'usage' - only used in code polyfill included
        "debug": false, // output debug information
        "modules": false, // dont transpile 'import' constructions
        "targets": {
          "esmodules": true
        }
      }
    ],
    [
      "minify",
      {
        "keepFnName": true,
        "simplify": false
      }
    ]
  ]
}