<header class="header">
  <div class="header__container container">
    <div class="logo">
      <a href="#">
        <svg width="50" height="40" viewBox="0 0 50 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.4506 0.259178C19.0919 0.696909 17.9456 1.47652 17.6601 2.15634L17.5398 2.4419L15.6561 2.43301L15.4116 1.93006C15.2253 1.54668 15.063 1.3708 14.7263 1.18701L14.2864 0.945911H11.1062C6.93498 0.945911 6.40895 1.15341 6.40895 2.80355V3.26796L5.69955 3.61478C3.08441 4.8924 1.03538 7.41602 0.225789 10.3546L0.000346207 11.1748V21.2584C0.000346207 32.2698 -0.0327188 31.5584 0.547422 33.1166C1.84798 36.6086 4.86291 39.1352 8.54916 39.8258C9.78859 40.0581 40.2114 40.0581 41.4508 39.8258C45.1371 39.1362 48.152 36.6096 49.4526 33.1166C50.0327 31.5584 49.9997 32.2698 49.9997 21.2584V11.1748L49.7832 10.4031C48.649 6.36468 45.7433 3.61182 41.6342 2.67905C41.02 2.53972 40.2134 2.50514 36.6765 2.46858L32.4532 2.42412L32.3369 2.14745C32.0504 1.46565 30.8209 0.645527 29.4663 0.233488C28.3992 -0.0915987 21.4756 -0.0718366 20.4506 0.259178ZM40.0601 5.82221C43.053 6.12555 45.3856 7.95256 46.3976 10.7874L46.6731 11.5591L46.7012 20.871C46.7332 31.5189 46.7653 31.0218 45.9236 32.7342C44.9758 34.662 43.064 36.1205 40.9288 36.5453C39.7856 36.7726 10.2114 36.7726 9.07118 36.5453C6.91594 36.1145 5.0112 34.6284 4.00923 32.5949C3.24473 31.0426 3.26677 31.4072 3.29883 20.871L3.32689 11.5591L3.63149 10.7163C4.60841 8.01679 6.9961 6.11666 9.77356 5.82912C10.9589 5.7066 38.8517 5.69968 40.0601 5.82122V5.82221ZM9.51706 6.88837C6.37889 7.34191 4.35391 9.89419 4.35391 13.398V14.6954H11.0661L11.2915 14.2369C12.2845 12.2123 14.2844 10.0167 16.4357 8.58692C17.2402 8.05236 19.3614 6.97631 19.6109 6.97631C19.669 6.97631 19.7161 6.93284 19.7161 6.87948C19.7161 6.76091 10.3457 6.76782 9.51706 6.88738V6.88837ZM30.2839 6.85478C30.2839 6.90023 30.4492 6.99509 30.6506 7.06524C33.7206 8.12943 37.462 11.4702 38.7385 14.2863L38.9249 14.6964H45.6471V13.399C45.6471 10.1284 44.1341 7.98418 41.1462 7.01683C40.5581 6.82612 30.2849 6.67395 30.2849 6.85576L30.2839 6.85478ZM24.0707 7.51779C12.6663 8.61558 7.13237 20.9748 14.0931 29.7976C21.7892 39.5512 37.8768 34.7015 38.8858 22.3236C39.5611 14.0343 32.2528 6.73126 24.0707 7.51779ZM26.6638 10.9455C33.2327 11.8753 37.3277 18.963 34.8278 25.0774C31.9482 32.1216 22.708 33.9279 17.4136 28.4804C10.3908 21.2544 16.5819 9.51871 26.6638 10.9455ZM23.8723 12.5719C17.9617 13.395 14.553 19.3474 16.8885 24.7701C19.5698 30.9942 28.5605 31.7659 32.376 26.1001C36.5512 19.9007 31.2949 11.5394 23.8723 12.5719ZM27.7168 13.9098C28.8581 14.2596 29.7118 15.0768 29.7318 15.8366C29.7779 17.5886 26.2289 17.5332 25.0416 15.7635C24.1388 14.4187 25.747 13.3051 27.7168 13.9098ZM22.701 27.2552C23.7821 27.4805 25.3923 28.4557 25.3923 28.8846C25.3923 29.8865 21.7581 29.2393 20.697 28.0486C19.9636 27.2246 20.8564 26.8708 22.701 27.2552ZM41.9128 30.9991C39.8938 31.6167 40.2846 34.3863 42.3897 34.3794C44.5309 34.3725 44.6902 31.2629 42.564 30.9734C42.3486 30.9438 42.056 30.9556 41.9128 31.0001V30.9991Z" />
        </svg>
      </a>
    </div>
    <nav class="header__nav">
      <div class="header__menu-container">
        <ul class="header-menu">
          <li class="header-menu__item">
            <a class="header-menu__item-link" href="#skills" data-translate="skills">Skills</a>
          </li>
          <li class="header-menu__item">
            <a class="header-menu__item-link" href="#portfolio" data-translate="portfolio">Portfolio</a>
          </li>
          <li class="header-menu__item">
            <a class="header-menu__item-link" href="#video" data-translate="video">Video</a>
          </li>
          <li class="header-menu__item">
            <a class="header-menu__item-link" href="#price" data-translate="price">Price</a>
          </li>
          <li class="header-menu__item">
            <a class="header-menu__item-link" href="#contacts" data-translate="contacts">Contacts</a>
          </li>
        </ul>
      </div>
      <div class="language-switcher">
        <a class="language-switcher__link language-switcher__link_active" href="#" data-language="en">en</a>
        <span>/</span>
        <a class="language-switcher__link" href="#" data-language="ru">ru</a>
      </div>
      <div class="theme-switcher">
        <div class="theme-switcher__icon" data-theme="dark">
          <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.4528 40C15.7066 40 10.315 37.8174 6.27098 33.8545C2.22701 29.8915 5.02421e-07 24.6074 5.02421e-07 18.9761C-0.00085731 15.0913 1.09674 11.2823 3.17098 7.97181C5.24521 4.66132 8.21494 1.97886 11.7505 0.222165C12.1143 0.0404498 12.5246 -0.032245 12.9302 0.0131555C13.3359 0.058556 13.7189 0.220041 14.0315 0.477451C14.344 0.734861 14.5723 1.07679 14.6878 1.46057C14.8033 1.84434 14.8009 2.25294 14.6809 2.63538C13.672 5.82896 13.5728 9.23201 14.3941 12.4768C15.2154 15.7216 16.9259 18.6847 19.3408 21.046C21.0739 22.757 23.136 24.1141 25.4078 25.0388C27.6796 25.9635 30.116 26.4374 32.576 26.433C34.4579 26.4345 36.3292 26.1578 38.1269 25.6125C38.5172 25.4948 38.9342 25.4924 39.3258 25.6056C39.7175 25.7188 40.0665 25.9425 40.3291 26.2488C40.5918 26.5552 40.7566 26.9306 40.8029 27.3282C40.8492 27.7257 40.775 28.1279 40.5895 28.4843C38.7969 31.9492 36.0597 34.8596 32.6817 36.8923C29.3036 38.9251 25.4169 40.0008 21.4528 40V40ZM11.6763 3.31431C8.93463 4.94908 6.66986 7.24958 5.10105 9.99327C3.53225 12.737 2.71252 15.831 2.72115 18.9761C2.72115 29.0982 11.1241 37.3333 21.4528 37.3333C24.6621 37.3418 27.8193 36.5384 30.619 35.001C33.4187 33.4636 35.7662 31.2441 37.4343 28.5573C35.8413 28.9186 34.2114 29.1007 32.5762 29.1C29.7587 29.1053 26.9682 28.5628 24.3661 27.5041C21.764 26.4453 19.4021 24.8913 17.417 22.9319C14.8381 20.4094 12.9578 17.2845 11.9533 13.8522C10.9489 10.4199 10.8536 6.79329 11.6763 3.31481V3.31431Z" />
          </svg>
        </div>
        <div class="theme-switcher__icon theme-switcher__icon_hide" data-theme="light">
          <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.5 16.8821C23.6125 16.8821 24.7001 17.212 25.6251 17.8301C26.5501 18.4481 27.2711 19.3267 27.6968 20.3545C28.1226 21.3823 28.234 22.5133 28.0169 23.6045C27.7999 24.6956 27.2641 25.6979 26.4775 26.4846C25.6908 27.2712 24.6885 27.807 23.5974 28.024C22.5062 28.241 21.3752 28.1296 20.3474 27.7039C19.3196 27.2782 18.4411 26.5572 17.823 25.6322C17.2049 24.7071 16.875 23.6196 16.875 22.5071C16.8769 21.0158 17.4701 19.5861 18.5246 18.5317C19.5791 17.4772 21.0087 16.8839 22.5 16.8821ZM22.5 14.0696C20.8312 14.0696 19.1999 14.5644 17.8124 15.4916C16.4248 16.4187 15.3434 17.7364 14.7048 19.2782C14.0662 20.8199 13.8991 22.5164 14.2246 24.1532C14.5502 25.7899 15.3538 27.2933 16.5338 28.4733C17.7138 29.6533 19.2172 30.4569 20.8539 30.7825C22.4906 31.108 24.1871 30.9409 25.7289 30.3023C27.2706 29.6637 28.5884 28.5822 29.5155 27.1947C30.4427 25.8072 30.9375 24.1759 30.9375 22.5071C30.9375 20.2693 30.0486 18.1232 28.4662 16.5409C26.8839 14.9585 24.7378 14.0696 22.5 14.0696Z" />
            <path d="M7.58521 9.58066L9.57364 7.59082L14.504 12.5211L12.5155 14.5096L7.58521 9.58066Z" />
            <path d="M2.8125 21.1008H9.84375V23.9133H2.8125V21.1008Z" />
            <path d="M7.58521 35.4332L12.5155 30.5029L14.504 32.4928L9.57364 37.4217L7.58521 35.4332Z" />
            <path d="M21.0938 35.1633H23.9062V42.1946H21.0938V35.1633Z" />
            <path d="M30.4973 32.4928L32.4858 30.5029L37.4161 35.4332L35.4276 37.4217L30.4973 32.4928Z" />
            <path d="M35.1562 21.1008H42.1875V23.9133H35.1562V21.1008Z" />
            <path d="M30.4973 12.5211L35.4276 7.59082L37.4161 9.58066L32.4858 14.5096L30.4973 12.5211Z" />
            <path d="M21.0938 2.81958H23.9062V9.85083H21.0938V2.81958Z" />
            </svg>
        </div>
      </div>
      <button class="header__menu-hamburger menu-hamburger">
        <span class="menu-hamburger__line"></span>
        <span class="menu-hamburger__line"></span>
        <span class="menu-hamburger__line"></span>
      </button>
    </nav>
  </div>
</header>