<section class="portfolio section" id="portfolio">
  <div class="section__header-container">
    <h2 class="section__header" data-translate="portfolio">Portfolio</h2>
  </div>
  <div class="section__content">
    <div class="portfolio__buttons-group">
      <button class="portfolio__button button" data-folder="winter" data-translate="winter">Winter</button>
      <button class="portfolio__button button" data-folder="spring" data-translate="spring">Spring</button>
      <button class="portfolio__button button" data-folder="summer" data-translate="summer">Summer</button>
      <button class="portfolio__button button button_filled" data-folder="autumn" data-translate="autumn">Autumn</button>
    </div>
    <div class="portfolio__works-container">
      {{!-- winter --}}
      <div class="portfolio__works" data-folder="winter">
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/winter/1.jpg" alt="portfolio item 0">
          </a>
        </div>
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/winter/2.jpg" alt="portfolio item 1">
          </a>
        </div>
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/winter/3.jpg" alt="portfolio item 2">
          </a>
        </div>
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/winter/4.jpg" alt="portfolio item 3">
          </a>
        </div>
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/winter/5.jpg" alt="portfolio item 4">
          </a>
        </div>
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/winter/6.jpg" alt="portfolio item 5">
          </a>
        </div>                              
      </div>
      {{!-- spring --}}
      <div class="portfolio__works" data-folder="spring">
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/spring/1.jpg" alt="portfolio item 0">
          </a>
        </div>
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/spring/2.jpg" alt="portfolio item 1">
          </a>
        </div>
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/spring/3.jpg" alt="portfolio item 2">
          </a>
        </div>
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/spring/4.jpg" alt="portfolio item 3">
          </a>
        </div>
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/spring/5.jpg" alt="portfolio item 4">
          </a>
        </div>
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/spring/6.jpg" alt="portfolio item 5">
          </a>
        </div>                              
      </div>
      {{!-- summer --}}
      <div class="portfolio__works" data-folder="summer">
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/summer/1.jpg" alt="portfolio item 0">
          </a>
        </div>
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/summer/2.jpg" alt="portfolio item 1">
          </a>
        </div>
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/summer/3.jpg" alt="portfolio item 2">
          </a>
        </div>
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/summer/4.jpg" alt="portfolio item 3">
          </a>
        </div>
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/summer/5.jpg" alt="portfolio item 4">
          </a>
        </div>
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/summer/6.jpg" alt="portfolio item 5">
          </a>
        </div>                              
      </div>
      {{!-- autumn --}}
      <div class="portfolio__works portfolio__works_active" data-folder="autumn">
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/autumn/1.jpg" alt="portfolio item 0">
          </a>
        </div>
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/autumn/2.jpg" alt="portfolio item 1">
          </a>
        </div>
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/autumn/3.jpg" alt="portfolio item 2">
          </a>
        </div>
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/autumn/4.jpg" alt="portfolio item 3">
          </a>
        </div>
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/autumn/5.jpg" alt="portfolio item 4">
          </a>
        </div>
        <div class="portfolio__works-item">
          <a class="portfolio__works-item-link" href="#portfolio">
            <img src="../pictures/portfolio/autumn/6.jpg" alt="portfolio item 5">
          </a>
        </div>                              
      </div>
    </div>
  </div>
</section>