<section class="contacts section" id="contacts">
  <div class="contacts__content section__content">
    <div class="contacts__container">
      <div class="contacts__title">Contact me</div>
      <form class="contacts__form contacts-form" action="#send">
        <div class="contacts-form__row">
          <input name="email" type="email" placeholder="E-mail">
        </div>
        <div class="contacts-form__row">
          <input name="phone" type="tel" placeholder="Phone">
        </div>
        <div class="contacts-form__row">
          <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea>
        </div>
        <div class="contacts-form__row">
          <button class="contacts-form__submit button button_filled">
            Send message
          </button>
        </div>
      </form>
    </div>
  </div>
</section>