<section class="portfolio section">
  <div class="section__header-container">
    <h2 class="section__header">Portfolio</h2>
  </div>
  <div class="section__content">
    <div class="portfolio__buttons-group">
      <button class="portfolio__button button">Winter</button>
      <button class="portfolio__button button">Spring</button>
      <button class="portfolio__button button">Summer</button>
      <button class="portfolio__button button button_filled">Autumn</button>
    </div>
    <div class="portfolio__works">
      <div class="portfolio__works-item">
        <a class="portfolio__works-item-link" href="#">
          <img src="../pictures/portfolio/portfolio-img-0.jpg" alt="portfolio item 0">
        </a>
      </div>
      <div class="portfolio__works-item">
        <a class="portfolio__works-item-link" href="#">
          <img src="../pictures/portfolio/portfolio-img-1.jpg" alt="portfolio item 1">
        </a>
      </div>
      <div class="portfolio__works-item">
        <a class="portfolio__works-item-link" href="#">
          <img src="../pictures/portfolio/portfolio-img-2.jpg" alt="portfolio item 2">
        </a>
      </div>
      <div class="portfolio__works-item">
        <a class="portfolio__works-item-link" href="#">
          <img src="../pictures/portfolio/portfolio-img-3.jpg" alt="portfolio item 3">
        </a>
      </div>
      <div class="portfolio__works-item">
        <a class="portfolio__works-item-link" href="#">
          <img src="../pictures/portfolio/portfolio-img-4.jpg" alt="portfolio item 4">
        </a>
      </div>
      <div class="portfolio__works-item">
        <a class="portfolio__works-item-link" href="#">
          <img src="../pictures/portfolio/portfolio-img-5.jpg" alt="portfolio item 5">
        </a>
      </div>                              
    </div>
  </div>
</section>