<section class="price section" id="price">
  <div class="section__header-container">
    <h2 class="section__header">Price</h2>
  </div>
  <div class="section__content">
    <ul class="price__list">
      <li class="price__list-item price-item">
        <h4 class="price-item__title">Standart</h4>
        <div class="price-item__price">500&nbsp;&dollar;</div>
        <div class="price-item__text">
          One location<br />
          120 photos in color<br />
          12 photos in retouch<br />
          Readiness 2-3 weeks<br />
          Make up, visage<br />
        </div>
        <button class="price-item__order-btn button button_filled">
          Order shooting
        </button>
      </li>
      <li class="price__list-item price-item">
        <h4 class="price-item__title">Premium</h4>
        <div class="price-item__price">700&nbsp;&dollar;</div>
        <div class="price-item__text">
          One or two locations<br />
          200 photos in color<br />
          20 photos in retouch<br />
          Readiness 1-2 weeks<br />
          Make up, visage<br />
        </div>
        <button class="price-item__order-btn button button_filled">
          Order shooting
        </button>
      </li>
      <li class="price__list-item price-item">
        <h4 class="price-item__title">Gold</h4>
        <div class="price-item__price">1000&nbsp;&dollar;</div>
        <div class="price-item__text">
          Three locations or more<br />
          300 photos in color<br />
          50 photos in retouch<br />
          Readiness 1 week<br />
          Make up, visage, hairstyle<br />
        </div>
        <button class="price-item__order-btn button button_filled">
          Order shooting
        </button>
      </li>
    </ul>
  </div>
</section>