:root {
  --main-color: #111827;
  --main-light-color: #d1d5db;
  --light-text-color: #9ca3af;
  --dark-text-color: #111827;
  --bg-color: white;
  --bg-color-rgba: rgba(0, 0, 0, 0.9);

  --main-font: 'DM Sans', sans-serif;

  --container-width: 1024px;
  --container-padding: 20px;
  --list-item-gap: 30px;
  --header-height: 80px;
  --search-form-height: 36px;
  --loader-size: 40px;

  &.light {
    --dark-text-color: tomato;
  }
}

