:root {
  --main-color: #111827;
  --main-light-color: #d1d5db;
  --light-text-color: #9ca3af;
  --dark-text-color: #111827;
  --bg-color: white;

  --main-font: 'DM Sans', sans-serif;

  --container-width: 1024px;
  --container-padding: 20px;
  --list-item-gap: 20px;
  --header-height: 80px;
}