.header {
  height: var(--header-height);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    color: var(--dark-text-color);
  }

  &__search-form-container {
    width: 50%;
    overflow: visible;
  }
}
