.movies-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex-basis: calc((100% - 4 * var(--list-item-gap)) / 5);
    margin-bottom: var(--list-item-gap);
    cursor: pointer;
    transform: scale(1);
    transition: 0.2s;
  }

  &__item:hover {
    transform: scale(1.02);
  }

  &__item:not(:nth-child(5n)) {
    margin-right: var(--list-item-gap);
  }
}
.movie-card {
  &__poster-container {
    position: relative;
    width: 100%;
    height: 300px;
  }

  &__movie-type {
    position: absolute;
    left: 16px;
    top: 19px;
    padding: 3px 8px;
    background-color: rgba(243, 244, 246, 0.5);
    border-radius: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
  }

  &__poster {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  &__title,
  &__info,
  &__ratings {
    font-weight: bold;
    padding-top: 12px;
  }

  &__title {
    font-size: 18px;
    line-height: 23px;
  }

  &__info {
    font-size: 12px;
    line-height: 16px;
    color: var(--light-text-color);
  }

  &__ratings {
    font-weight: normal;
    display: flex;
    justify-content: space-between;

    span {
      display: inline-flex;
      font-size: 12px;
      line-height: 17px;

      img {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .movies-list {
  
    &__item {
      flex-basis: calc((100% - 3 * var(--list-item-gap)) / 4);
    }
    &__item:not(:nth-child(5n)) {
      margin-right: 0;
    }
    &__item:not(:nth-child(4n)) {
      margin-right: var(--list-item-gap);
    }
  }
}

@media (max-width: 768px) {
  .movies-list {
  
    &__item {
      flex-basis: calc((100% - 2 * var(--list-item-gap)) / 3);
    }
    &__item:not(:nth-child(4n)) {
      margin-right: 0;
    }
    &__item:not(:nth-child(3n)) {
      margin-right: var(--list-item-gap);
    }
  }
}

@media (max-width: 540px) {
  .movies-list {
    flex-direction: column;
    align-items: center;
    
    &__item {
      width: 300px;
    }
    &__item:not(:nth-child(3n)) {
      margin-right: 0;
    }
  }
}