.search-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: var(--search-form-height);

  &__input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 5px 10px;
    padding-right: 30px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-dark-color);
    border: 2px solid var(--main-light-color);
    transition: 0.2s;
  }

  &__input:focus {
    box-shadow: 0px 0px 4px 2px var(--main-light-color);
  }
  
  &__search-list {
    position: absolute;
    z-index: 100;
    top: var(--search-form-height);
    left: 0;
    right: 0;
    color: var(--main-light-color);
    background: var(--bg-color-rgba);
    padding: 10px 0;
    border-radius: 6px;
    display: none;

    &_show {
      display: block;
    }

    li {
      padding: 10px 10px;
      cursor: pointer;
      transition: 0.2s;
    }

    li:hover {
      background: var(--main-light-color);
      color: var(--dark-text-color);
    }
  }

  &__button {
    width: 14px;
    height: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    margin-right: 10px;
    text-align: center;
    transition: 0.2s;
    position: absolute;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  &__button:hover {
    color: var(--light-text-color);
  }

  &__button-icon {
    width: 20px;
    height: 20px;
  }
}