<header class="header">
  <div class="header__logo-container">
    <a class="header__logo" href="#">
      <h1>MovieApp</h1>
    </a>
  </div>
  <div class="header__search-form-container">
    <form class="search-form" action="#">
      <input class="search-form__input" type="text" name="search" id="search">
      <button class="search-form__button">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
</header>