<header class="header">
  <div class="header__logo-container">
    <a class="header__logo" href="#">
      <h1>MovieApp</h1>
    </a>
  </div>
  <div class="header__search-form-container">
    <form class="search-form" action="#">
      <input class="search-form__input" type="text" name="search" id="search" placeholder="Search for movies" autocomplete="off">
      <ul class="search-form__search-list">

      </ul>
      <button class="search-form__button search-form__button_clear search-form__button_hide" type="button">
        <i class="fas fa-times"></i>
      </button>
      <button class="search-form__button search-form__button_submit">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
</header>