
$container-width: 1440px;
$container-padding: 20px;
$header-height: 90px;
$works-item-gap: 25px;
$price-list-item-gap: 25px;
$skills-list-item-gap: 40px;

$bg-color: black;
$text-color: white;
$theme-color: #bdae82;

$main-font: 'Inter', sans-serif;
$headers-font: 'Merriweather', serif;