.footer {
  height: 150px;
  padding: 0 $container-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;

  &__github-link {
    .year {
      font-size: 18px;
    }
    a {
      margin-left: 12px;
    }
  }
  
  &__rsschool-link {
    padding-left: 23px;
  }

  &__socials {
    display: flex;
  }

  &__socials-item:not(:last-child) {
    margin-right: 20px;
  }
}

.socials {
  &-item {
    img {
      width: 32px;
      height: 32px;
      object-fit: contain;
    }
  }
}