.header {
  height: $header-height;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 0 $container-padding;
  background: transparent;

  &__nav {
    display: flex;
    align-items: center;
  }

  &__menu-hamburger {
    display: none;
  }
}

.menu-hamburger {
  $vertical-padding: 11px;
  $line-height: 3px;
  $cross-line-size: 62px;

  width: $hamburger-size;
  height: $hamburger-size;
  padding: $vertical-padding 0;
  cursor: pointer;
  justify-content: space-between;
  flex-direction: column;
  z-index: 1;
  position: relative;

  &__line {
    width: $hamburger-size;
    height: $line-height;
    background: $text-color;
    transition: 0.2s;
  }

  @keyframes rotateClockwiseReverse {
    from {
      transform: rotate(45deg);
      top: $hamburger-size / 2;
      left: -6px;
      width: $cross-line-size;
    }
    to {
      transform: rotate(0deg);
      top: $vertical-padding;
      left: 0;
      width: $hamburger-size;
    }
  }

  @keyframes rotateAntiClockwiseReverse {
    from {
      transform: rotate(-45deg);
      top: $hamburger-size / 2;
      left: -6px;
      width: $cross-line-size;
    }
    to {
      transform: rotate(0deg);
      top: $hamburger-size - $vertical-padding - $line-height;
      left: 0;
      width: $hamburger-size;
    }
  }

  @keyframes rotateClockwise {
    from {
      transform: rotate(0deg);
      top: $vertical-padding;
      left: 0;
      width: $hamburger-size;
    }
    to {
      transform: rotate(45deg);
      top: $hamburger-size / 2;
      left: -6px;
      width: $cross-line-size;
    }
  }

  @keyframes rotateAntiClockwise {
    from {
      transform: rotate(0deg);
      top: $hamburger-size - $vertical-padding - $line-height;
      left: 0;
      width: $hamburger-size;
    }
    to {
      transform: rotate(-45deg);
      top: $hamburger-size / 2;
      left: -6px;
      width: 63.6px;
    }
  }

  @keyframes lineScaleIn {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(100%);
    }
  }

  @keyframes lineScaleOut {
    from {
      transform: scaleX(100%);
    }
    to {
      transform: scaleX(0);
    }
  }
}

.menu-hamburger:hover {
  .menu-hamburger__line {
    background: $theme-color;
  }
}

.header-menu {
  display: flex;
  align-items: center;
  height: 50px;

  &__item-link {
    display: block;
    padding: 0 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
  } 
  &__item-link:hover {
    color: $theme-color
  }
}

.theme-switcher,
.language-switcher {
  margin-left: 16px;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
}

.theme-switcher {
  &__link {
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.2s;

    &_light {
      background: white;
    }

    &_dark {
      background: black;
    }

    svg {
      display: block;
    }

    &_dark {
      fill: $theme-color;
    }

    &_light {
      fill: $theme-color;
    }
  }

  &__link:hover {
    box-shadow: 0px 0px 4px 2px $theme-color;
  }
}

.language-switcher {
  &__link {

    &_active {
      color: $theme-color;
    }
  }

  &__link:hover {
    color: $theme-color;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 64px;

    &__nav {
      flex-direction: row-reverse;
    }

    &__menu-container {
      margin-left: 36px;
    }
  }

  .menu-hamburger {
    display: flex;

    &_hide,
    &_close {
      display: block;
      position: relative;

      .menu-hamburger__line {
        position: absolute;
      }
    }

    &_hide {
      .menu-hamburger {
        &__line:nth-child(1) {
          @include anim(rotateClockwiseReverse);
        }
  
        &__line:nth-child(2) {
          display: block;
          top: 25px;
          @include anim(lineScaleIn);
        }
  
        &__line:nth-child(3) {
          @include anim(rotateAntiClockwiseReverse);
        }
      }
    }

    &_close {
      .menu-hamburger {
        &__line:nth-child(1) {
          @include anim(rotateClockwise);
        }
  
        &__line:nth-child(2) {
          top: 25px;
          @include anim(lineScaleOut);
        }
  
        &__line:nth-child(3) {
          @include anim(rotateAntiClockwise);
        }
      }
    }
  }

  .header-menu {
    display: none;
    position: absolute;
    padding: $header-height;
    top: 0;
    right: 0;
    width: 80%;
    min-height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    background: $bg-color;

    &__item-link {
      background: $bg-color;
      font-size: 34.8235px;
      line-height: 73px;
    }

    @keyframes menuSlideIn {
      from {
        transform: translateX(100%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }

    @keyframes menuFadeOut {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }

    &_show {
      display: flex;
      @include anim(menuSlideIn);
    }

    &_hide {
      display: flex;
      @include anim(menuFadeOut);
    }
  }
  
}

@media (max-width: 540px) {
  .header {
    padding: 0 $container-padding;
  }
}