
.portfolio {
  // because of works-item bottom margin
  margin-bottom: -$works-item-gap;

  &__buttons-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 55px;
  }
  
  &__button {
    margin-bottom: 5px;
  }

  &__button:not(:last-child) {
    margin-right: 5px;
  }

  &__works {
    display: flex;
    flex-wrap: wrap;
  }

  &__works-item {
    flex: 1 1 calc((100% - 2 * #{$works-item-gap}) / 3);
    margin-bottom: $works-item-gap;
  }
  
  &__works-item-link {
    display: block;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__works-item:not(:nth-child(3n)) {
    margin-right: $works-item-gap;
  }

}

@media (max-width: 900px) {
  .portfolio {
    &__works-item {
      flex: 1 1 calc((100% - #{$works-item-gap}) / 2);
    }
    
    &__works-item:not(:nth-child(2n)) {
      margin-right: $works-item-gap;
    }
  
  }
}