.skills {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -$skills-list-item-gap;
  }

  &__list-item {
    flex-basis: calc((100% - 3 * #{$skills-list-item-gap}) / 4);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: $skills-list-item-gap;

    &-icon {
      text-align: center;
      font-size: 0;
      margin-bottom: 50px;

      img {
        width: 66px;
        height: 50px;
        object-fit: contain;
        display: inline-block;
      }
    }

    &-title {
      margin-bottom: 20px;
      font-family: $main-font;
      font-weight: bold;
      font-size: 20px;
      line-height: 40px;
    }

    &-text {
      font-size: 18px;
      line-height: 36px;
      // padding: 0 20px;
      width: 88%;
    }
  }

  &__list-item:not(:last-child) {
    margin-right: $skills-list-item-gap;
  }
}

@media (max-width: 1024px) {
  .skills {
    &__list-item:not(:last-child) {
      margin-right: 0px;
    }

    &__list-item:nth-child(2n + 1) {
      margin-right: $skills-list-item-gap;
    }

    &__list-item {
      flex-basis: calc((100% - #{$skills-list-item-gap}) / 2);
    }
  }
}

@media (max-width: 768px) {
  .skills {
    padding: 0 40px;
    
    &__list {
      margin-bottom: -75px;
    }
    
    &__header-container {
      margin-bottom: 45px;
    }
    
    &__list-item {
      margin-bottom: 75px;
      padding: 0;

      &-icon {
        margin-bottom: 30px;
      }
  
      &-text {
        font-size: 18px;
        line-height: 22px;
        width: 95%;
      }
    }
  }
}

@media (max-width: 540px) {
  .skills {
    &__list {
      flex-direction: column;
    }

    &__list-item:not(:last-child) {
      margin-right: 0px;
    }

    &__list-item {
      flex-basis: 100%;
    }
  }
}