:root {
  --main-color: #bdae92;
  --main-text-color: white;
  --dark-color: black;
  --controls-bg-color: rgba(0, 0, 0, 0.6);
  --controls-menu-bg-color:rgba(0, 0, 0, 0.9);

  --player-width: 640px;
  --player-height: 480px;
  --container-h-padding: 10px;
  --player-popup-size: 80px;
  --control-panel-height: 45px;
  --control-panel-padding: 2px;
  --progressbar-height: 6px;
  --button-size: calc(var(--control-panel-height) - var(--progressbar-height));
  --volume-slider-width: 60px;
}

.player:fullscreen {
  --control-panel-height: 65px;
  --button-size: calc(var(--control-panel-height) - var(--progressbar-height));
}

body {
  font-family: "Century Gothic", sans-serif;
  color: var(--main-text-color);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide native controls in fullscreen mode */
video::-webkit-media-controls {
  display:none !important;
}

video::-webkit-media-controls-enclosure {
  display:none !important;
}

.main {
  position: relative;
}

.background {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url("../assets/bg.jpg");
  background-position: center;
  filter: blur(2px);
}

.container {
  z-index: 2;
  position: relative;
  height: 100vh;
  max-width: calc(var(--player-width) + var(--container-h-padding) * 2);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.player {
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 5px 2px var(--dark-color);
  background: var(--controls-bg-color);
  cursor: pointer;
}

.player_no-cursor {
  cursor: none;
}

.player__viewport {
  object-fit: contain;
  display: block;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.player__action-popup {
  position: absolute;
  width: var(--player-popup-size);
  height: var(--player-popup-size);
  top: calc(50% - var(--player-popup-size) / 2);
  left: calc(50% - var(--player-popup-size) / 2);
  color: var(--main-color);
  opacity: 1;
  transform: scale(0.2);
  transition: all 0.4s ease-out;
  pointer-events: none;
}

.player__action-popup::before {
  font-size: var(--player-popup-size);
}

.player__action-popup::before,
.button .button__icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
}

.player__action-popup_play,
.player__action-popup_pause,
.player__action-popup_volume-mute,
.player__action-popup_volume-up {
  opacity: 0.6;
  transform: scale(1.4);
}

.player__control-panel {
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--control-panel-height);
  transform: translateY(var(--button-size));
  background: var(--controls-bg-color);
  transition: transform 0.3s;
  z-index: 4;
  padding-top: var(--progressbar-height);
}

.player__control-panel_show {
  transform: translateY(0px);
}

.control-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: var(--main-text-color);
}

.control-panel__buttons {
  height: var(--button-size);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.control-panel__buttons-group {
  display: flex;
}

.control-panel__volume {
  position: relative;
  overflow: hidden;
}

.control-panel__volume:hover {
  width: calc(var(--button-size) + var(--volume-slider-width) + 2px);
}

.control-panel__volume-slider {
  position: absolute;
  cursor: pointer;
  width: var(--volume-slider-width);
  left: var(--button-size);
  top: calc((var(--button-size) - var(--progressbar-height)) / 2 - 4px);
}

.control-panel__settings-menu {
  position: absolute;
  list-style: none;
  right: 0;
  bottom: calc(100% + 5px);
  background-color: var(--controls-menu-bg-color);
  display: none;
  opacity: 0;
  animation: 0.4s fadeIn forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.settings-menu__item {
  cursor: pointer;
  padding: 5px;
  font-size: 0.8rem;
  position: relative;
}

.settings-menu__options {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.settings-menu__options label {
  cursor: pointer;
  display: block;
  padding: 2px;
}
.settings-menu__options label:hover {
  background-color: var(--main-color);
}

.control-panel__duration {
  margin-left: 10px;
  text-shadow: 0px 0px 2px var(--dark-color);
  font-size: 0.8rem;
  align-self: center;
}

.button {
  height: 100%;
  width: var(--button-size);
  cursor: pointer;
  text-align: center;
  transition: all 0.2s;
  position: relative;
  color: var(--main-text-color);
  border: none;
  background: none;
  font: inherit;
}

.button:hover {
  color: var(--main-color);
}
.button__icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--button-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button .button__icon::before {
  font-size: calc(var(--button-size) / 2.2);
}

.button_play .button__icon::before,
.player__action-popup_play::before {
  content: "\f04b";
}
.button_pause .button__icon::before,
.player__action-popup_pause::before {
  content: "\f04c";
}
.button_forward .button__icon::before {
  content: "\f04e";
}
.button_backward .button__icon::before {
  content: "\f04a";
}
.button_volume-mute .button__icon::before,
.player__action-popup_volume-mute::before {
  content: "\f6a9";
}
.button_volume-up .button__icon::before,
.player__action-popup_volume-up::before {
  content: "\f028";
}
.button_settings .button__icon::before {
  content: "\f013";
}
.button_expand .button__icon::before {
  content: "\f065";
}
.button_compress .button__icon::before {
  content: "\f066";
}

.button__icon i {
  margin-top: 50%;
  transform: translateY(-50%);
}

.progress-bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: var(--progressbar-height);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.progress-bar:hover {
  /* outline: 1px solid khaki; */
  height: calc(var(--progressbar-height) + 20px);
  top: -10px;
}

.progress-bar:hover .progress-bar__filler {
  outline: 1px solid khaki;
}

.progress-bar__filler {
  background-color: var(--main-color);
  height: var(--progressbar-height);
  width: 0;
  pointer-events: none;
}

.progress-bar__time-label {
  position: absolute;
  left: 0;
  top: -13px;
  font-size: 0.9rem;
  text-shadow: 0px 0px 4px var(--dark-color);
  display: none;
}

.footer {
  height: 60px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__github-link {
  text-align: right;
  margin-top: 10px;
  text-shadow: 0px 0px 2px var(--main-text-color);
  color: var(--main-color);
}

.footer__github-link a {
  text-decoration: underline;
  color: var(--main-color);
}

.logo {
  display: block;
  width: 120px;
  margin-right: 40px;
}

.st0, .st1, .st2, .st3, .st4, .st5, .st6, .st7, .st8, .st9 {
  fill: var(--main-color);
  stroke: var(--main-color);
}

.logo-path {
  fill: var(--main-text-color);
  stroke: var(--main-color);
  stroke-width: 4px;
}

.header {
  margin-top: 10px;
}

.header h1 {
  text-shadow: 0px 0px 2px var(--main-text-color);
  color: var(--main-color);
}