:root {
  --main-color: #bdae92;
  --main-text-color: white;
  --dark-color: black;
  --dark-text-color: black;
  --bg-color: black;
  --controls-bg-color: rgba(0, 0, 0, 0.6);
  --controls-menu-bg-color:rgba(0, 0, 0, 0.9);

  --container-h-padding: 10px;

  --main-font: 'Cambria', 'sans-serif';
}