
:root {
  --player-popup-size: 150px;
  --player-control-panel-height: 45px;
  --player-control-panel-padding: 2px;
  --player-progressbar-height: 16px;
  --player-progressbar-filler-height: 4px;
  --player-button-size: calc(var(--player-control-panel-height) - var(--player-progressbar-filler-height));
  --player-volume-slider-width: 60px;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide native controls in fullscreen mode */
video::-webkit-media-controls,
video::-webkit-media-controls-enclosure {
  display:none !important;
}

.player {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: var(--player-controls-bg-color);
  cursor: pointer;

  &:fullscreen {
    --player-control-panel-height: 65px;
    --player-button-size: calc(var(--player-control-panel-height) - var(--player-progressbar-filler-height));
    --player-volume-slider-width: 90px;
  }
  
  &_no-cursor {
    cursor: none;
  }

  &__viewport {
    object-fit: contain;
    display: block;
    z-index: 3;
    width: 100%;
    height: 100%;
  }

  &__action-popup {
    position: absolute;
    width: var(--player-popup-size);
    height: var(--player-popup-size);
    top: calc(50% - var(--player-popup-size) / 2);
    left: calc(50% - var(--player-popup-size) / 2);
    color: var(--player-main-color);
    opacity: 1;
    transition: all 0.4s ease-out;
    display: none;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;

    &::before {
      font-size: var(--player-popup-size);
    }

    &:hover {      
      .player__action-popup-play-btn {
        fill: var(--player-main-color);
      }
    }

    svg {
      width: 100%;
      height: 100%;
      display: block;
    }

    &-play-btn {
      fill: var(--player-main-text-color);
      transition: 0.2s;
    }

    &_show {
      display: block;
    }

    &_play,
    &_pause,
    &_volume-mute,
    &_volume-up {
      opacity: 0.6;
      transform: scale(1.4);
    }
  }

  &__frame-overlay {
    display: none;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    filter: blur(1px);
  }
  
  &__control-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: var(--player-main-text-color);
    bottom: 0;
    left: 2px;
    right: 2px;
    height: var(--player-control-panel-height);
    transform: translateY(var(--player-button-size));
    background: var(--player-controls-bg-color);
    transition: transform 0.3s;
    z-index: 5;
    padding-top: var(--player-progressbar-filler-height);
  
    &_show, &_mobile {
      transform: translateY(0px);
    }
  }

  &__action-popup::before,
  &__button &__button-icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "";
  }

  
  &__buttons {
    height: var(--player-button-size);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__buttons-group {
    display: flex;
  }
  
  &__button {
    height: 100%;
    width: var(--player-button-size);
    cursor: pointer;
    text-align: center;
    transition: all 0.2s;
    position: relative;
    color: var(--player-main-text-color);
    border: none;
    background: none;
    font: inherit;
    &:hover {
      color: var(--player-main-color);
    }
  
    &-icon {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: var(--player-button-size);
      display: flex;
      justify-content: center;
      align-items: center;
  
      &::before {
        font-size: calc(var(--player-button-size) / 2.2);
      }
  
      i {
        margin-top: 50%;
        transform: translateY(-50%);
      }
  
    }
  }

  &__button_play &__button-icon::before,
  &__action-popup_play::before {
    content: "\f04b";
  }
  
  &__button_pause &__button-icon::before,
  &__action-popup_pause::before {
    content: "\f04c";
  }
  
  &__button_forward &__button-icon::before {
    content: "\f2f9";
  }
  
  &__button_backward &__button-icon::before {
    content: "\f2ea";
  }
  
  &__button_volume-mute &__button-icon::before,
  .player__action-popup_volume-mute::before {
    content: "\f6a9";
  }
  
  &__button_volume-up &__button-icon::before,
  .player__action-popup_volume-up::before {
    content: "\f028";
  }
  
  &__button_settings &__button-icon::before {
    content: "\f013";
  }
  
  &__button_expand &__button-icon::before {
    content: "\f065";
  }
  
  &__button_compress &__button-icon::before {
    content: "\f066";
  }

  &__settings-menu {
    position: absolute;
    list-style: none;
    right: 0;
    bottom: calc(100% + 5px);
    background-color: var(--player-menu-bg-color);
    display: none;
    opacity: 0;
    animation: 0.4s settingsMenuFadeIn forwards;

    &-item {
      cursor: pointer;
      padding: 8px;
      font-size: 0.8rem;
      position: relative;
    }
  
    &-options {
      margin-top: 5px;
      display: flex;
      flex-direction: column;
    }
  }

  @keyframes settingsMenuFadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

  &__duration {
    margin-left: 10px;
    text-shadow: 0px 0px 2px var(--player-dark-text-color);
    font-size: 0.8rem;
    align-self: center;
    user-select: none;
    cursor: default;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
  }

  &__custom-radio {
    cursor: pointer;
    display: block;
    padding: 2px;
    padding-left: 15px;
    position: relative;
  
    &:hover {
      color: var(--player-main-color);
    }
    
    &-checkbox {
      position: absolute;
      left: 0px;
      width: 100%;
      height: 100%;
      background: transparent;
    }
  
    input {
      display: none;
    }
    
    input:checked ~ span {
      color: var(--player-main-color);
    }

    input:checked + &-checkbox::before {
      content: "\f00c";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 0.6rem;
    }
  }

  &__progress-bar {
    position: absolute;
    top: calc(-1 * (var(--player-progressbar-height) - var(--player-progressbar-filler-height)));
    width: 100%;
    height: var(--player-progressbar-height);
    cursor: pointer;
    display: flex;
    align-items: flex-end;
  
    &_hover {
      .player__progress-bar-filler {
        transform: scaleY(1.5);
      }

      .player__progress-bar-thumb {
        transform: scale(1);
        box-shadow: 0px 0px 6px -2px black;
      }
    }
    
    &-filler {
      background-color: var(--player-main-color);
      height: 100%;
      width: 0;
      pointer-events: none;
      transform: scaleY(1);
      transition: transform 0.2s ease;
    }

    &-filler-wrapper {
      height: var(--player-progressbar-filler-height);
      background-color: var(--player-filler-bg);
      width: 100%;
      position: relative;
    }

    &-thumb {
      --thumb-size: calc(var(--player-progressbar-filler-height) * 3);
      position: absolute;
      top: calc(-1 * (var(--thumb-size) - var(--player-progressbar-filler-height)) / 2);
      left: 0;
      z-index: 10;
      background: var(--player-main-color);
      width: var(--thumb-size);
      height: var(--thumb-size);
      border-radius: 50%;
      pointer-events: none;
      transform: scale(0);
      transition: transform 0.2s ease;
    }

    &-tooltip {
      position: absolute;
      left: 0;
      display: none;
      pointer-events: none;
      user-select: none;
      background: transparent;

      &-time {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        text-shadow: 0px 0px 4px var(--player-dark-text-color);
      }

      &-bg {
        width: 100%;
        border: 1px solid var(--player-main-text-color);
        border-radius: 3px;
        background-repeat: no-repeat;
        margin-bottom: 5px;
      }
    }
  }

  &__volume {
    position: relative;
    overflow: hidden;

    &-container {
      display: flex;
    }
  }

  &__volume-slider {
    position: absolute;
    cursor: pointer;
    width: var(--player-volume-slider-width);
    height: 50%;
    left: 0;
    top: calc(var(--player-button-size) / 4);
    transition: color 0.2s ease;

    &:hover {
      color: var(--player-main-color);

      .player__volume-slider-filler {
        background: var(--player-main-color);
      }
    }

    &-container {
      position: relative;
      height: 100%;
      width: 0px;
      overflow: hidden;
      transition: 0.4s ease;
    }

    &_show, &_mobile {
      width: calc(var(--player-volume-slider-width) + 2px);
    }
  }
  
  &__volume-label {
    position: absolute;
    left: 1px;
    top: -2px;
    font-size: 0.7rem;
    user-select: none;
  }

  &__volume-slider-wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--player-filler-bg);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    pointer-events: none;
  }

  &__volume-slider-filler {
    width: 0%;
    height: 100%;
    background: var(--player-main-text-color);
    pointer-events: none;
    transition: background-color 0.2s ease;
  }
}

@media (max-width: 768px) {
  $small-popup-size: 75px;
  .player {
    &__action-popup {
      width: $small-popup-size;
      height: $small-popup-size;
      top: calc(50% - #{$small-popup-size} / 2);
      left: calc(50% - #{$small-popup-size} / 2);
    }
  }
}