:root {
  --bg-color: black;
  --header-bg-color: black;
  --text-color: white;
  --theme-color: #bdae82;
  --header-color: #bdae82;
  --text-with-bg-image: white;
  --container-padding: 20px;
  --btn-color: #bdae82;
  --btn-bg: black;

  &.light {
    --bg-color: white;
    --text-color: black;
    --theme-color: #bdae82;
    --text-with-bg-image: white;
    --header-color: black;
    --btn-color: black;
    --btn-bg: white;
  }
}

$hamburger-size: 50px;
$container-width: 1440px;
$container-padding: 20px;
$header-height: 90px;
$works-item-gap: 25px;
$price-list-item-gap: 25px;
$skills-list-item-gap: 40px;
$animation-duration: 0.2s;

$button-width: 220px;
$button-height: 55px;

$bg-color: var(--bg-color);
$text-color: var(--text-color);
$theme-color: var(--theme-color);
$text-with-bg-image: var(--text-with-bg-image);
$header-bg-color: var(--header-bg-color);
$header-color: var(--header-color);
$btn-color: var(--btn-color);
$btn-bg: var(--btn-bg);

$main-font: 'Inter', sans-serif;
$headers-font: 'Merriweather', serif;