.contacts {
  width: 100%;
  margin-top: 75px;
  background-color: var(--header-bg-color);

  &__container {
    background: no-repeat url("../pictures/contacts/bg-contacts.jpg");
    background-size: auto 100%;
    background-position: center center;
    padding: 60px $container-padding 195px;
  }
  
  &__content {
    display: flex;
    justify-content: flex-end;
  }

  &__inner {
    width: 450px;
    text-align: left;
    justify-self: right;
  }

  &__title {
    font-family: $headers-font;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: $theme-color;
  }

  &__form {
    margin-top: 40px;
  }
}

.contacts-form {
  input, textarea {
    display: block;
    width: 100%;
    border: 2px solid $theme-color;
    font-size: 20px;
    line-height: 40px;
    padding: 3px 18px;
    color: $theme-color;
    background: $input-bg-color;
  }
  
  input::placeholder, textarea::placeholder {
    color: $theme-color;
  }

  textarea {
    height: 100px;
    resize: none;
  }

  &__row:not(:last-child) {
    margin-bottom: 20px;
  }

  &__submit {
    margin-top: 10px;
  }
}


@media (max-width: 768px) {
  .contacts-form {
    input::placeholder, textarea::placeholder {
      text-shadow: 0px 0px 2px $header-bg-color;
    }
  }
  .contacts {
    margin-top: 30px;

    &__container {
      padding-bottom: 110px;
    }
    
    &__title {
      font-size: 32px;
      line-height: 64px;
    }

    &__content {
      justify-content: center;
    }

    &__inner {
      width: 450px;
      text-align: center;
    }

  }
}
