.footer {
  background-color: var(--header-bg-color);
  color: var(--text-with-bg-image);
  
  a {
    color: var(--text-with-bg-image);
  }
  
  a:hover {
    color: $theme-color;
  }

  &__container {
    height: 150px;
    padding: 0 $container-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
  
  }

  &__copy, &__year {
    margin-right: 15px;
  }
  
  &__rsschool-link {
    padding-left: 20px;
  }

  &__socials {
    display: flex;
    align-items: center;
  }

  &__socials-item:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .footer {
    &__container {
      height: 190px;
      flex-direction: column;
      padding-top: 31px;
      padding-bottom: 36px;
    }
    
    &__rsschool-link {
      padding-left: 0px;
    }

    &__copy {
      margin-right: 20px;
    }

    &__year {
      margin-right: 25px;
    }

    &__github-link {
      // flex-basis: 82px;
      display: flex;
      align-items: flex-start;
      width: 175px;
      justify-content: stretch;
    }

    &__rsschool-link {
      flex-basis: 30px;
    }
  }
}