.footer {
  background-color: var(--header-bg-color);
  color: var(--text-with-bg-image);
  
  a {
    color: var(--text-with-bg-image);
  }
  
  a:hover {
    color: $theme-color;
  }

  &__container {
    height: 150px;
    padding: 0 $container-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
  
  }

  &__github-link {
    .year {
      font-size: 18px;
    }
    a {
      margin-left: 12px;
    }
  }
  
  &__rsschool-link {
    padding-left: 23px;
  }

  &__socials {
    display: flex;
    align-items: center;
  }

  &__socials-item:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .footer {
    &__container {
      height: 190px;
      flex-direction: column;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    
    &__rsschool-link {
      padding-left: 0px;
    }

    &__github-link,
    &__rsschool-link,
    &__socials  {
      flex-basis: calc(100% / 3);
    }
  }
}