.header {
  background-color: var(--header-bg-color);

  &__container {
    height: $header-height;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background: transparent;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__menu-hamburger {
    display: none;
  }
}

.menu-hamburger {
  $vertical-padding: 11px;
  $line-height: 3px;
  $cross-line-size: 62px;

  width: $hamburger-size;
  height: $hamburger-size;
  padding: $vertical-padding 0;
  margin-left: 32px;
  cursor: pointer;
  justify-content: space-between;
  flex-direction: column;
  z-index: 10;
  position: relative;
  background: transparent;
  border: none;
  outline: none;

  &__line {
    width: $hamburger-size;
    height: $line-height;
    background: $text-with-bg-image;
    transition: 0.2s;
  }

  @keyframes rotateClockwiseReverse {
    from {
      transform: rotate(45deg);
      top: $hamburger-size / 2;
      left: -6px;
      width: $cross-line-size;
    }
    to {
      transform: rotate(0deg);
      top: $vertical-padding;
      left: 0;
      width: $hamburger-size;
    }
  }

  @keyframes rotateAntiClockwiseReverse {
    from {
      transform: rotate(-45deg);
      top: $hamburger-size / 2;
      left: -6px;
      width: $cross-line-size;
    }
    to {
      transform: rotate(0deg);
      top: $hamburger-size - $vertical-padding - $line-height;
      left: 0;
      width: $hamburger-size;
    }
  }

  @keyframes rotateClockwise {
    from {
      transform: rotate(0deg);
      top: $vertical-padding;
      left: 0;
      width: $hamburger-size;
    }
    to {
      transform: rotate(45deg);
      top: $hamburger-size / 2;
      left: -6px;
      width: $cross-line-size;
    }
  }

  @keyframes rotateAntiClockwise {
    from {
      transform: rotate(0deg);
      top: $hamburger-size - $vertical-padding - $line-height;
      left: 0;
      width: $hamburger-size;
    }
    to {
      transform: rotate(-45deg);
      top: $hamburger-size / 2;
      left: -6px;
      width: $cross-line-size;
    }
  }

  @keyframes lineScaleIn {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(100%);
    }
  }

  @keyframes lineScaleOut {
    from {
      transform: scaleX(100%);
    }
    to {
      transform: scaleX(0);
    }
  }
}

.menu-hamburger:hover {
  .menu-hamburger__line {
    background: $theme-color;
  }
}

.header-menu {
  display: flex;
  align-items: center;
  height: 50px;
  width: 472px;
  justify-content: space-around;

  &__item-link {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: $text-with-bg-image;
  }

  &__item-link:hover {
    color: $theme-color
  }

  @keyframes menuSlideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes menuSlideOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }
}

.language-switcher {
  margin-left: 15px;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  color: $text-with-bg-image;

  span {
    padding-left: 9px;
    display: inline-block;
    width: 20px;
  }

  &__link {
    display: inline-block;
    width: 20px;
    color: $text-with-bg-image;
    
    &_active {
      color: $theme-color;
    }
  }

  &__link:hover {
    color: $theme-color;
  }
}

@media (max-width: 768px) {
  .header {
    &__container {
      padding-right: 64px;
      padding-left: 60px;
    }

    &__menu-container {
      display: none;
      justify-content: flex-end;
      width: auto;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.5);
    }

    &__nav {
      &_show, &_hide {
        padding-right: 82px;

        .header__menu-container {
          display: flex;
        }

        .header-menu {
          overflow-y: auto;
          display: flex;
        }

        .menu-hamburger {
          display: block;
          position: fixed;
          right: 64px;
          top: 20px;

          &__line {
            position: absolute;
            background: $text-color;
          }
        }
      }

      &_show {
        .header-menu {
          @include anim(menuSlideIn);
        }

        .menu-hamburger {
          &__line:nth-child(1) {
            @include anim(rotateClockwise);
          }
    
          &__line:nth-child(2) {
            top: 25px;
            @include anim(lineScaleOut);
          }
    
          &__line:nth-child(3) {
            @include anim(rotateAntiClockwise);
          }
        }
      }

      &_hide {
        .header-menu {
          @include anim(menuSlideOut);
        }

        .menu-hamburger {
          &__line:nth-child(1) {
            @include anim(rotateClockwiseReverse);
          }
    
          &__line:nth-child(2) {
            display: block;
            top: 25px;
            @include anim(lineScaleIn);
          }
    
          &__line:nth-child(3) {
            @include anim(rotateAntiClockwiseReverse);
          }
        }
      }
    }
  }

  .menu-hamburger {
    display: flex;
  }

  .header-menu {
    display: none;
    position: absolute;
    padding-top: 134px;
    padding-left: 127px;
    top: 0;
    right: 0;
    width: 80.7%;
    min-height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: $bg-color;

    &__item {
      margin-bottom: 16px;
    }

    &__item-link {
      font-size: 34.8235px;
      line-height: 73px;
      color: $text-color;
    }
  }
}

@media (max-width: 620px) {
  .header-menu {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .header {
    &__container {
      padding: 0 $container-padding;
    }

    &__nav {
      &_show, &_hide {
        .menu-hamburger {
          right: 20px;
        }
      }
    }
  }

  .header-menu {
    padding-top: 80px;
    padding-left: 40px;
  }
}