.header {
  background-color: var(--header-bg-color);

  &__container {
    height: $header-height;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background: transparent;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__menu-hamburger {
    display: none;
  }
}

.menu-hamburger {
  $vertical-padding: 11px;
  $line-height: 3px;
  $cross-line-size: 62px;
  $center: $hamburger-size / 2 - $line-height / 2;

  width: $hamburger-size;
  height: $hamburger-size;
  padding: $vertical-padding 0;
  margin-left: 32px;
  cursor: pointer;
  justify-content: space-between;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  right: $container-padding;
  background: transparent;
  border: none;
  outline: none;

  &__line {
    width: $hamburger-size;
    height: $line-height;
    background: var(--burger-color);
    transition: 0.2s;
    box-shadow: 0px 0px 5px 0px var(--burger-shadow-color);
  }

  @mixin lineCenterPosition {
    transform: rotate(0deg);
    left: 0;
    width: $hamburger-size;
    top: $center;
  }

  @mixin topLineStartPosition {
    top: $vertical-padding;
    left: 0;
    width: $hamburger-size;
    background: var(--burger-color);
  }

  @mixin topLineEndPosition {
    transform: rotate(45deg);
    left: -6px;
    width: $cross-line-size;
    top: $center;
    background: $text-color;
  }

  @mixin bottomLineStartPosition {
    top: $hamburger-size - $vertical-padding - $line-height;
    left: 0;
    width: $hamburger-size;
    background: var(--burger-color);
  }

  @mixin bottomLineEndPosition {
    transform: rotate(-45deg);
    left: -6px;
    width: $cross-line-size;
    top: $center;
    background: $text-color;
  }

  @keyframes burgerToCrossTopLine {
    0% {
      @include topLineStartPosition;
    }
    50% {
      @include lineCenterPosition;
    }
    100% {
      @include topLineEndPosition;
    }
  }

  @keyframes burgerToCrossBottomLine {
    0% {
      @include bottomLineStartPosition;
    }
    50% {
      @include lineCenterPosition;
    }
    100% {
      @include bottomLineEndPosition;
    }
  }

  @keyframes crossToBurgerTopLine {
    0% {
      @include topLineEndPosition;
    }
    50% {
      @include lineCenterPosition;
    }
    100% {
      @include topLineStartPosition;
    }
  }

  @keyframes crossToBurgerBottomLine {
    0% {
      @include bottomLineEndPosition;
    }
    50% {
      @include lineCenterPosition;
    }
    100% {
      @include bottomLineStartPosition;
    }
  }

  @keyframes lineScaleIn {
    from {
      top: $center;
      transform: scaleX(0);
      background: $text-color;
    }
    to {
      top: $center;
      transform: scaleX(100%);
      background: var(--burger-color);
    }
  }

  @keyframes lineScaleOut {
    from {
      top: $center;
      transform: scaleX(100%);
      background: var(--burger-color);
    }
    to {
      top: $center;
      transform: scaleX(0);
      background: $text-color;
    }
  }
}

@media (hover: hover) {
  .menu-hamburger:hover {
    .menu-hamburger__line {
      background: var(--burger-hover-color);
    }
  }
}

.header-menu {
  display: flex;
  align-items: center;
  height: 50px;
  width: 472px;
  justify-content: space-around;

  &__item-link {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: $text-with-bg-image;
  }

  &__item-link:hover {
    color: $theme-color
  }

  @keyframes menuSlideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes menuSlideOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }
}

.language-switcher {
  margin-left: 15px;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  color: $text-with-bg-image;

  span {
    padding-left: 9px;
    display: inline-block;
    width: 20px;
  }

  &__link {
    display: inline-block;
    width: 20px;
    color: $text-with-bg-image;
    
    &_active {
      color: $theme-color;
    }
  }

  &__link:hover {
    color: $theme-color;
  }
}

@media (max-width: 768px) {
  .header {
    &__container {
      padding-right: 64px;
      padding-left: 60px;
    }

    @keyframes overlayFadeIn {
      from {
        background: transparent;
      }
      to {
        background: rgba(0, 0, 0, 0.5);
      }
    }

    @keyframes overlayFadeOut {
      from {
        background: rgba(0, 0, 0, 0.5);
      }
      to {
        background: transparent;
      }
    }

    &__menu-container {
      display: none;
      justify-content: flex-end;
      width: auto;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.5);
      transition: 0.4s;
    }

    &__nav {
      padding-right: 82px;

      &_show, &_hide {
        .header__menu-container {
          display: flex;
        }

        .header-menu {
          overflow-y: auto;
          display: flex;
        }

        .menu-hamburger {
          display: block;
          position: fixed;
          right: 64px;
          top: 20px;

          &__line {
            position: absolute;
            box-shadow: none;
          }
        }
      }

      &_show {
        .header__menu-container {
          @include anim(overlayFadeIn);
        }

        .header-menu {
          @include anim(menuSlideIn);
        }

        .menu-hamburger {
          &__line:nth-child(1) {
            @include anim(burgerToCrossTopLine);            
          }
    
          &__line:nth-child(2) {
            @include anim(lineScaleOut);
          }
    
          &__line:nth-child(3) {
            @include anim(burgerToCrossBottomLine);
          }
        }
      }

      &_hide {
        .header__menu-container {
          @include anim(overlayFadeOut);
        }

        .header-menu {
          @include anim(menuSlideOut);
        }

        .menu-hamburger {
          &__line:nth-child(1) {
            @include anim(crossToBurgerTopLine);
          }
    
          &__line:nth-child(2) {
            @include anim(lineScaleIn);
          }
    
          &__line:nth-child(3) {
            @include anim(crossToBurgerBottomLine);
          }
        }
      }
    }
  }

  .menu-hamburger {
    right: 64px;
    display: flex;

    &_fixed {
      position: fixed;
    }
  }

  .header-menu {
    display: none;
    position: absolute;
    padding-top: 134px;
    padding-left: 127px;
    top: 0;
    right: 0;
    width: 80.7%;
    min-height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: $bg-color;

    &__item {
      margin-bottom: 16px;
    }

    &__item-link {
      font-size: 34.8235px;
      line-height: 73px;
      color: $text-color;
    }
  }
}

@media (max-width: 620px) {
  .header-menu {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .header {
    &__container {
      padding: 0 $container-padding;
    }

    &__nav {
      &_show, &_hide {
        .menu-hamburger {
          right: 20px;
        }
      }
    }
  }

  .menu-hamburger {
    right: $container-padding;
  }

  .header-menu {
    padding-top: 80px;
    padding-left: 40px;
  }
}

@media (max-width: 420px) {
  .menu-hamburger {
    margin-left: 15px;
  }

  .header {
    &__nav {
      padding-right: 65px;
    }
  }
}