$button-margin: 5px;

.portfolio {
  margin-bottom: -$works-item-gap;

  &__buttons-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 55px;
    width: calc(#{$button-width} * 4 + #{$button-margin} * 3);
    margin-left: auto;
    margin-right: auto;
  }
  
  &__button {
    margin-bottom: $button-margin;
  }
  
  &__works-container {
    display: block;
  }

  @keyframes worksFadeOut {
    from {
      transform: scale(0.9);
      opacity: 0.4;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  &__works {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;

    &_active {
      @include anim(worksFadeOut, ease-in, $animation-duration * 2);
      display: flex;
    }
  }

  &__works-item {
    flex-basis: calc((100% - 2 * #{$works-item-gap}) / 3);
    margin-bottom: $works-item-gap;
    transition: 0.2s;
    transform: scale(1);
  }

  &__works-item:hover {
    transform: scale(1.05);
  }
  
  &__works-item-link {
    display: block;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 1024px) {
  .portfolio {
    &__works-item {
      flex-basis: calc((100% - #{$works-item-gap}) / 2);
    }

    &__buttons-group {
      width: calc(#{$button-width} * 2 + #{$button-margin});
    }
  }
}
@media (max-width: 768px) {
  .portfolio {
    margin-top: 161px;

    &__works {
      flex-direction: column;
      align-items: center;
    }

    &__works-item {
      flex-basis: 450px;
    }
  }
}

@media (max-width: 540px) {
  .portfolio {
    &__works-item {
      flex-basis: 100%;
    }
    &__button {
      flex-basis: 100%;  
    }
    &__buttons-group {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
}