
.theme-switcher {
  position: relative;
  font-weight: bold;
  font-size: 20px;
  margin-left: 30px;
  width: 45px;
  height: 45px;
  color: $text-with-bg-image;
  overflow: hidden;

  $duration: 0.4s;

  @keyframes iconSlideIn {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  @keyframes iconSlideOut {
    from {
      transform: translateY(0%);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }

  &:hover {
    svg {
      fill: $theme-color;
    }
  }

  &:active {
    svg {
      fill: $theme-color;
      transform: translateY(5%);
    }
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 45px;
    display: block;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;

    &_hide {
      @include anim(iconSlideOut, ease, $duration);
    }

    &_show {
      @include anim(iconSlideIn, ease, $duration);
    }

    svg {
      fill: white;
      width: 100%;
      height: auto;
      object-fit: contain;
      transition: $animation-duration;
    }
  }
}

@media (max-width: 540px) {
  .theme-switcher {
    margin: 0 15px;
  } 
}