.video__player {
  width: 100%;
  padding-bottom: 50.36%;
  position: relative;

  &-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &-play-btn {
    z-index: 10;
    position: absolute;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    width: 150px;
    height: 150px;

    &:hover {
      svg {
        fill: $theme-color;
      }
    }

    svg {
      width: 100%;
      height: 100%;
      fill: $text-color;
      transition: 0.2s ease-in;
      position: absolute;
      left: 3px;
      top: 0;
    }
  }

  &-img {
    // width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .video {
    margin-left: calc(-1 * #{$container-padding});
    margin-right: calc(-1 * #{$container-padding});

  }

  .video__player {
    padding-bottom: 54.42%;

    &-img {
      height: auto;
      width: 106%;
      object-position: left 21px top 50%;
    }

    &-play-btn {
      width: 75px;
      height: 75px;

      svg {
        left: 0px;
      }
    }
  }
}

@media (max-width: 700px) {
  .video__player {
    &-img {
      object-position: center;
    }
  }
}