.video__player {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &-play-btn {
    z-index: 10;
    position: absolute;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;

    img {
      width: 150px;
      height: 150px;
      object-fit: contain;
    }
  }

  &-img {
    width: 100%;
    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .video {
    margin-left: calc(-1 * #{$container-padding});
    margin-right: calc(-1 * #{$container-padding});
  }

  .video__player {
    &-play-btn {
      img {
        width: 75px;
        height: 75px;
      }
    }
  }
}
